.red_color{
    color:red;
}

.row_skiping{
    padding: 1.5em;
}

.spinner_container {   
    left: 50%;
    position: absolute;
    top: 30%;   
    stroke: brown !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #3fb53f;
    }